
/*------------------ Valeria aquí empieza mi sección -------------------*/

* {
    margin: 0;
    padding: 0;
}

body{
    background-image: url(../img/homepage-hero.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 300px;
    font-family: 'Montserrat', sans-serif;
}

html, body {
    height: 100%;
}

header {
    position: fixed;
    width: 100%;
    height: 100px;
    font-family: 'Muli', sans-serif;
    color: white;
    z-index: 7;
}
    header>img {
        width: 65px;
        float: left;
        margin-left: 100px;
        margin-top: 30px;
    }
        header>img:hover {
            cursor: pointer;
        }
/*------------------ Valeria aquí termina mi sección -------------------*/


/*/----------Rena Aquí empieza mi seccion-----------/*/

header>nav {
   float: right;
   margin-right: 3%;
}

header>nav>ul>li {
   display: inline-block;
   list-style: none;
   width: 90px;
   font-size: 18px;
   margin-left: 5px;
   line-height: 100px;
}

header>nav>ul>li:hover {
   color: deeppink;
   cursor: pointer;
}

header>nav>ul>li>button {
   width: 100%;
   padding: 10px 0;
   border: 1px solid white;
   border-radius: 9px;
   background-color: rgba(255, 255, 255, 0);
   color: white;
   font-family: 'Muli', sans-serif;
   font-size: 18px;
}

#botonLogInNav:hover {
   background-color: rgba(255, 255, 255, 0.35);
   cursor: pointer;
}

#botonSingUpNav {
   border-color: deeppink;
   color: deeppink;
   display: none;
}


/*/-------------Rena Aquí termina mi seccion----------------/*/

#botonSingUpNav:hover {  /* ----- INICIO commit Diana ------ */
                    cursor: pointer;
                }


/* seccion1 */
#seccion1{
    clear: both;
    margin-top: 0px;
    position: relative;
}
#formulario {
    width: 40%;
    height: 100%;
    background-color: #fff;
    float:right;
    font-family: "arial";
    color: #36218c;
    padding-left: 50px;
    padding-top: 70px;
    padding-bottom: 80px;
    margin-top: 100px;
}
#formulario .tituloForm{
    font-size: 45px;
    font-weight: 800;
}
#formulario .formularioText{
    margin-top: 20px;
    font-size: 90%;
}
.numTel{
    margin-top: 10px;
    width: 90%;
}
.numTel .inputs{
    width: 90%;
    height: 40px;
    background-color: none;
    border: none;
}
.botones{
    display: inline-block;
}
.botonDriver{
    margin-top: 15px;
    background-color: #ff00bf;
    border: none;
    border-radius: 7px;
    height: 40px;
    width: 200px;
    color: #fff;
    font-size: 90%;
} 
/* ------ FINAL commit Diana :) ------ */

























/*------MONE aqui empieza mi parte del contenido de la seccion telefono----*/
#contenidoSectionTelefono{
    margin: auto;
    width: 900px;
    height: 100%;
/*    background-color: aqua;*/
}
    #textoSectionTelefono{
        color: #fff;
        display: inline-block;
        margin-top: 10%;
        margin-left: 6%;
        margin-right: 6%;
        margin-bottom: 10%;
        width: 40%;
    }
        .tituloBloqueText{
            font-weight: 600;
            margin-bottom: 10px;
        }
        .contBloqueText{
/*            font-family: "Helvetica Neue";*/
            font-weight: 300;
            margin-bottom: 50px;
        }
/*------MONE aqui termina mi parte del contenido de la seccion telefono----*/

































.botonSign{
    margin-top: 10px;
    background-color: #fff;
    border: none;
    border-radius: 7px;
    height: 40px;
    width: 200px;
    color: #6e6f80;
    text-decoration: underline;
    font-size: 90%;
}
.infoAdicional{
    margin-top: 30px;
    color: #6e6f80;
    font-size: 70%;
}
.infoAdicional .linkInfo{
    color: #ff00bf;
    text-decoration: none;
}
/*seccion2*/
#sectionTelefono{
    clear: both;
    background: linear-gradient(#75268E, #301F69) fixed;
    padding: 20px;
}











.textoLadoVideo {
    box-sizing: border-box;
    display: inline-block;
    width: 25%;
    min-width: 100px;
    margin-top: 10%;
    font-weight: 300;
}
    .textoLadoVideo h6 {
        font-size: 14px;
        letter-spacing: 2px;
        margin-bottom: 10px;
    }
    .textoLadoVideo h3 {
        font-size: 28px;
        font-weight: 700;
        letter-spacing: 3px;
        margin-bottom: 20px;
    }

.floatDer {
    float: right;
    clear: left;
}

.floatIzq {
    clear: right;
    float: left;
}



/*------------------ Valeria aquí empieza mi sección -------------------*/

#textoLadoVideo2 {
    margin-right: 5%;
}
#textoLadoVideo1,
#textoLadoVideo3 {
    margin-left: 5%;
}

/*------------------ Valeria aquí termina mi sección -------------------*/












/*------------------ Valeria aquí empieza mi sección -------------------*/

  /*Parte horizontal final del footer*/
    #divHorizontal {
        position: absolute;
        bottom: 10px;
        left: 20%;
        width: 60%;
        text-align: center
    }
    
        #divHorizontal img {
            height: 40px;
            width: 40px;
            margin: 20px;
            position: relative;
        }
            #divHorizontal img:hover, #divImagenes img:hover {
                cursor: pointer;
            }
        
        #raya {
            width: 100%;
            text-align: center;
            margin-bottom: 15px;
        }
        
        #divHorizontal p {
            display: inline-block;
            margin-bottom: 30px;
            letter-spacing: 1px;
        }

/*------------------ Valeria aquí termina mi sección -------------------*/






/*----------MONE aquí EMPIEZA mi sección de estilos a las imagenes sobre los videos --------------*/
.imagenVideo{
    width: 561px;
    height: 314.5px;
}
/*Modificacion de la clase clearDer y clearIzq, ya funciona optimamente NO TOCAR esa clase.
Modificacion del HTML en las etiquetas de imagen del video, se les agrego la clase floatIzq, floatDer .
<img id="imagenJune" class="imagenVideo floatIzq" src="assets/img/video_june.2b8f5889.png" alt="">
<img id="imagenJune" class="imagenVideo floatIzq" src="assets/img/video_june.2b8f5889.png" alt="">
<img id="imagenGood" class="imagenVideo floatDer" src="assets/img/video_ridecorp.61432eb2.png" />

*/
/*----------MONE aquí TERMINA mi sección de estilos a las imagenes sobre los videos --------------*/








